[submodule "pixel_quest"]
	path = pixel_quest
	url = https://github.com/AurelienBaraquin/pixel_quest.git
[submodule "manifeste"]
	path = manifeste
	url = git@github.com:AurelienBaraquin/Manifeste.git
[submodule "miku"]
	path = miku
	url = git@github.com:AurelienBaraquin/miku-teto-ui.git
[submodule "chinese_notebook"]
	path = chinese_notebook
	url = git@github.com:AurelienBaraquin/chinese_notebook.git
[submodule "portfolio"]
	path = portfolio
	url = git@github.com:AurelienBaraquin/portfolio_shop.git
