services:
  # 1. Proxy
  reverse-proxy:
    image: nginx:alpine
    container_name: web-gateway
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - portfolio
      - pixelquest
    logging: &logging-config
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # 2. Portfolio
  portfolio:
    build: ./portfolio
    container_name: app-portfolio
    restart: always
    logging: *logging-config

  # 3. PixelQuest
  pixelquest:
    build: ./pixel_quest
    container_name: app-pixelquest
    restart: always
    env_file:
      - ./secrets/pixel_quest.env
    logging: *logging-config
